In [1]:
import pandas as pd 
import numpy as np

In [17]:
teams = pd.read_csv('teams.csv')
teams = teams.dropna()
features = ['athletes','prev_medals']
x = teams[features].copy()
y = teams[['medals']].copy()

In [18]:
x['intercept'] = 1
x[['intercept','athletes','prev_medals']]
x_transpose = x.T
x_transpose

,0,1,2,3,4,5,6,7,8,9,...,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143
athletes,8.0,5.0,8.0,11.0,5.0,4.0,6.0,3.0,4.0,5.0,...,52.0,20.0,47.0,28.0,21.0,26.0,14.0,16.0,9.0,31.0
prev_medals,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,15.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,0.0
intercept,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [19]:
w = np.linalg.inv(x_transpose@x)@x_transpose@y
w

     medals
0  0.071112
1  0.734137
2 -1.961889

In [21]:
w.index = x.columns
#change the index of our w dataframe into our x columns
w

               medals
athletes     0.071112
prev_medals  0.734137
intercept   -1.961889

In [23]:
prediction = x@w
prediction

        medals
0    -1.392992
1    -1.606329
2    -1.392992
3    -1.179656
4    -1.606329
...        ...
2139 -0.112974
2140 -0.966319
2141  1.378315
2142  1.614667
2143  0.242587

[2014 rows x 1 columns]

SSR is the sum of squared residuals. Difference between labels and their predictions is squared and summed over all datapoints.

SST is the sum of squared totals. Difference between labels and the mean of the labels is squared and summed over all datapoints. SST measures the variance of the dataset. Larger the SST, more spread the data.

Bigger the value of r_squared, the better our line is fit to the data and better our ability to make predictions. Ranges from 0 to 1. Tells us how much of the variance in the dataset is explained by x values

In [25]:
ssr = ((y - prediction)**2).sum()
sst = ((y - y.mean())**2).sum()
print(ssr)
print(sst)

medals    290620.124598
dtype: float64
medals    2.276322e+06
dtype: float64

In [27]:
r_squared = 1 - (ssr/sst)
r_squared

medals    0.872329
dtype: float64

Which means our line is actually good at predicting our data. We have fit a pretty good model

Let's check

In [28]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(teams[['athletes','prev_medals']],teams[['medals']])

LinearRegression()

In [29]:
lr.intercept_

array([-1.96188939])

In [30]:
lr.coef_

array([[0.07111214, 0.73413679]])